body {
	overflow-x: hidden;
	background: url("../../images/bg-tablet-pattern.svg") no-repeat top -150px right -20px;
}

.testimonials {
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 0;
		transform: translate(-50%, 50%);
		width: 814px;
		height: 814px;
		background: url("../../images/bg-tablet-pattern.svg") no-repeat center center;
		background-size: cover;
	}
}

.slick-list {
	margin: 0 -150px;
}

footer .footer__upper {
	position: relative;
	overflow: hidden;
	background: url("../../images/bg-simplify-section-desktop.svg") no-repeat bottom right -250px;
	background-size: cover;
}