// add your global styles there
.round {
	border-radius: 50px;
}

.shadow {
	box-shadow: 0 5px 10px rgba(#000, .15);
}

.tag {
	@extend %btn;
	padding: .5rem 1.5rem !important;
	background-color: $color-primary;
	border-radius: 50px;
	color: #fff;
	font-weight: bold;
}