/// Uncomment and Set your own fonts from GoogleFonts
/// ============================
@import url("https://fonts.google.com/specimen/Be+Vietnam");

/// Uncomment to override default fonts of website
/// ============================
$font-primary: "Be Vietnam", sans-serif;
$font-secondary: "Be Vietnam", sans-serif;

.font-primary { font-family: $font-primary !important; }
.font-secondary { font-family: $font-secondary !important; }

/// Basic fonts declaration
/// ============================
html, body {
	font-family: $font-secondary;
	color: $color-grey;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}


.h1 {
	font-size: 64px;
	color: $color-secondary;
	line-height: 1;
	margin-bottom: 1.5rem;
}